<ul class="nav nav-tabs">
	<%params[:tab] = 'tab1'%>
	<li class="<%= 'active' if params[:tab] == 'tab1' %> nav-item"><a class="nav-link active tag tag-default" href="#tab1" data-toggle="tab">Personal Info</a></li>
	<li class="<%= 'active' if params[:tab] == 'tab2' %> nav-item"> <a class="nav-link tag tag-default" href="#tab2" data-toggle="tab">List image</a></li>
</ul>

<div class="tab-content">
	<div class="<%= if (params[:tab] == "tab1" || !params[:tab]) then 'tab-pane active'  else 'tab-pane' end %>" id="tab1">
		<%= render partial:"users/show"%>
	</div>
	<div class="<%= if params[:tab] == 'tab2' then 'tab-pane active'  else 'tab-pane' end%>" id="tab2">
		<%= render 'list_image'%>
	</div>
</div>