<% for user in @user.friends%>
<% @temp = User.find_by_id(user.friend_id)%>
<% if (@temp!=nil) and (user.friend_id != session[:current_user_id]) %>
  <div class="row card" style="margin-left: 150px; margin-right: 150px;">
        <div class="container" style="margin-bottom: -10px; padding-top: 25px;">
        <div class="col-sm-1">
          <div class="text-xs-center"><img src="<%= @temp.avatar%>" class="img-circle" width="50" height="50"></div>
        </div>
        <div class="col-sm-11">
          <div ><%= @temp.username %></div>
          <div ><%= @temp.name %></div>
          <p class="pull-xs-right" style="margin-right: 5px; margin-bottom: 5px;">
            <%= link_to 'Info', @temp, class: 'btn btn-success', style: 'padding: 2px 10px;' %>
            <%= link_to 'Unfriend', {controller: "friends", action: "destroy", id: @temp.id}, method: "delete", class: 'btn btn-danger', style: 'padding: 2px 10px;' %>
          </p>
        </div> 
    </div>
  </div>
<% end %>
<% end %>