
<!--   <div class="col-lg-4">
    <%= image_tag "/users/#{@user.id}/avatar/#{@user.avatar_filename}", :size => "260x180" if @user.avatar_filename? %>
  </div> -->
    <div class="alert alert-info" >
      <strong>Username:</strong>
      <%= @user.username %>
    </div>
    <div class="alert alert-info" >
      <strong>Name:</strong>
      <%= @user.name %>
    </div>
    <div class="alert alert-info" >
      <strong>Gender:</strong>
      <%= @user.gender = 1? "male": "female" %>
    </div>
    <div class="alert alert-info">
      <strong>Email:</strong>
      <%= @user.email %>
    </div>
<br>
<div class="text-xs-right">
  <%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-success' %>
</div>
