
<div class="container">
<div class="row">
	<div class="col-lg-4">
    <%= image_tag "/users/#{@user.id}/avatar/#{@user.avatar_filename}", :size => "260x180" if @user.avatar_filename? %>
	</div>
	<div class="col-lg-8">
		<div class="alert alert-info" style="width:50%">
			<strong>Username:</strong>
			<%= @user.username %>
		</div>
		<div class="alert alert-info" style="width:50%">
			<strong>Name:</strong>
			<%= @user.name %>
		</div>
	    <div class="alert alert-info" style="width:50%">
	      <strong>Gender:</strong>
	      <%= @user.gender = 1? "male": "female" %>
	    </div>
	    <div class="alert alert-info" style="width:50%">
	      <strong>Email:</strong>
	      <%= @user.email %>
	    </div>
	</div>
</div>
<br>
<div class="text-xs-right">
	<a href="/" class="btn btn-info">Back</a>
	<% if (@user.id == session[:current_user_id]) %>
	<%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-success' %>
	<% end %>
	<%= link_to 'Friend', friends_path, :class => 'btn btn-success' %>
</div>
</div>
